* {-webkit-tap-highlight-color: rgba(0,0,0,0); /* make transparent link selection, adjust last value opacity 0 to 1.0 */}
@font-face{src:url('https://fonts.googleapis.com/css?family=Roboto&display=swap'); font-family: 'Roboto', sans-serif;}/* Roboto font */
@font-face{src:url(../fonts/handwriting-black-draft_DEMO.otf); font-family: handwriting;}/* Handwriting font */
@font-face{src:url(../fonts/Minecrafter.Reg.ttf); font-family: minecraft;}/* Minecraft clean font */
@font-face{src:url(../fonts/Minecrafter.Alt.ttf); font-family: minecraft_cracked;}/* Minecraft cracked font */

/*    <--  Portrait layout -->     */
@media screen{
    body {
        -webkit-touch-callout: none;                /* prevent callout to copy image, etc when tap to hold */
        -webkit-text-size-adjust: none;             /* prevent webkit from resizing text to fit */
        -webkit-user-select: none;                  /* prevent copy paste, to allow, change 'none' to 'text' */
        font-family: system-ui, -apple-system, -apple-system-font, 'Segoe UI', 'Roboto', sans-serif;
        height:100vh;
        margin:0px;
        padding:0px;                                /* Padding to avoid the "unsafe" areas behind notches in the screen */
        padding: env(safe-area-inset-top, 0px) env(safe-area-inset-right, 0px) env(safe-area-inset-bottom, 0px) env(safe-area-inset-right, 0px);
        width:100vw;
        font-family: 'Roboto', sans-serif;
    }
    #page_shade{position: fixed;top:0;right:0;width: 100%;height:100%;background-color: rgba(0,0,0,1);transition: background-color 1s;z-index: 50;}

    .view{/*  Main views switched by js to change view  */
        position: absolute;
        top: 0;
        right: 0;
        height: 100%;
        width: 100%;
        display: none;
    }

    /*  setup configuration  */
    #Setup_container{
        background-attachment: fixed;
        background-position: center;
        background-size: cover;
    }
    #decsion_screen .title{
        margin-top:26vh;
        font-size: 9vh;
        text-align: center;
        font-family: 'Roboto', sans-serif;
    }
    #decsion_screen .subtext{
        margin-top:3vh;
        margin-bottom: 0.5vh;
        font-size: 4vh;
        text-align: center;
        font-family: 'Roboto', sans-serif;
    }
    .palte_btn_container{
        margin-left: auto;
        margin-right: auto;
        width: 90%;
    }
    .palte_btn{
        height:100%;
        width: 100%;
        font-size: 5vh;
        margin:0;
        padding:1vh 1.2vh;
        border-radius:1.5vh;
        background-position: 0% 100%;
        background-size:1000%;
        font-family: 'Roboto', sans-serif;
        cursor: pointer;
        transition:background-color 400ms, color 400ms,background-position 400ms;
    }
    #decsion_screen .palte_btn:active{
        background-position: 100% 0%;
        transition:background-color 0ms, color 0ms, background-position 400ms;
    }
    #logo{
        position: relative;
        margin-left:auto;
        margin-right: auto;
        margin-top: 10vh;
        width: 27vh;
        height: 27vh;
        background-position: fixed;
        background-size: cover;
    }
    #logo_text{
        position: relative;
        width:100%;
        text-align: center;
        font-size: 4vh;
        margin-bottom: 1vh;
    }
    .swap_container{
        position: relative;
        display: flex;
        width:100%;
        height:4vh;
        font-size: 2.5vh;
        margin-bottom: 2vh;
    }
    .swapbox{width:50%;height:100%;font-size: inherit;}
    .swapbtn{
        height:100%;
        width:40%;
        font-size: inherit;
        border:none;
        cursor: pointer;
        text-align: center;
    }
    .swapbtn_active{
        height:100%;
        width:40%;
        font-size: inherit;
        border:none;
        cursor: pointer;
        text-align: center;
    }
    #login_btn{ float: right;border-radius: 1.2vh 0vh 0vh 1.2vh;}
    #signup_btn{ float: left;border-radius: 0vh 1.2vh 1.2vh 0vh;}
    
    .label{
        position: relative;
        margin-left:0;
        width:100%;
        text-align: center;
        font-size: 3.5vh;
        margin-bottom: 0.5vh;
    }
    .login_put_container{
        position: relative;
        color: white;
        margin-right: auto;
        margin-left: auto;
        margin-bottom:2vh;
        font-size: 3vh;
        width: 85%;
        height: 5vh;
        padding: 1vh 1.3vh;
        border-style:solid;
        border-width: 0.4vh;
        border: none;
        border-radius: 1vh;
    }
    .login_put{
        position: relative;
        color: white;
        font-size: 3vh;
        width: 100%;
        height: 100%;
        background:none;
        border:none;
    }
}

/*    <--  Landscape layout / Standard (with min-width) -->     */
@media screen and (min-aspect-ratio: 1/1) and (min-width:400px) {

}
