
/* Portrait / phone */
@media screen{
    body{padding:0px;margin: 0px;}
}

/*    <--  Landscape layout / Standard (with min-width) -->     */
@media screen and (min-aspect-ratio: 1/1) and (min-width:400px) {

    #login_screen{
        position: fixed;
        top:0;
        right:30vw;
        width: 40vw;
        height:100vh;
        box-shadow: 0vw 0vw 5vw 0vw #ffffff,0vw 0vw 50vw 0vw #000000;
    }
    
}
