
/* Portrait / phone */
@media screen{
    body{
        padding:0px;margin: 0px;
        background-attachment: fixed;
        background-size: cover;
        background-image: url('../img/placeholder.webp');
    }

}

/*    <--  Landscape layout / Standard (with min-width) -->     */
@media screen and (min-aspect-ratio: 1/1) and (min-width:700px) {

    #login_screen{
        position: relative;
        margin-top: 5vh;
        margin-right: auto;
        margin-left: auto;
        width: 60vh;
        height: 90vh;
        border-radius: 3vh;
        box-shadow: 0vw 0vw 10vw 0vw #000000;
        background-color: #303030;
    }
    #logo{
        position: relative;
        margin-left:auto;
        margin-right: auto;
        margin-top: 2vh;
        width: 27vh;
        height: 27vh;
        background-position: fixed;
        background-size: cover;
        background-image: url('../img/password\ worrior\ icon\ prototype.webp');
    }
    #logo_text{
        position: relative;
        width:100%;
        text-align: center;
        font-size: 4vh;
        color: #ffffff;
        margin-bottom: 3vh;
    }
    .label{
        position: relative;
        margin-left:2vw;
        width:100%;
        text-align: left;
        font-size: 3vh;
        color: #ffffff;
    }
    .login_put_container{
        position: relative;
        color: white;
        margin-right: auto;
        margin-left: auto;
        margin-bottom:2vh;
        font-size: 3vh;
        width: 90%;
        height: 5vh;
        padding: 1.3vh 1.3vh;
        border:0.4vh solid #1F2325;
        background-color: #1F2325;
        border: none;
        border-radius: 1vh;
    }
    .login_put{
        position: relative;
        color: white;
        font-size: 3vh;
        width: 100%;
        height: 100%;
        background-color: #1F2325;
        background:none;
        border:none;
    }.login_put:focus{outline: none;}

}
